doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/vendor/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        .react-mount-node
            != ReactDOMServer.renderToString(component)

        script.
            window.robbie = {};
            window.robbie.reactType = "!{reactType}";
            window.robbie.props = !{JSON.stringify(props)};

        script(type='text/javascript', src='/vendor/jquery.min.js')
        script(type='text/javascript', src='/vendor/bootstrap.min.js')
        script(type='text/javascript', src='/vendor/underscore-min.js')
        script(type='text/javascript', src='/vendor/react.js')
        script(type='text/javascript', src='/vendor/react-dom.js')
        script(type='text/javascript', src='/socket.io/socket.io.js')
        script(type='text/javascript', src='/client.js')

