body {
    min-height: 500px;
    padding-top: 70px;
}

#remoteVideos video {
    height: 150px;
}

#localVideo {
    height: 150px;
}

.hide {
    display: none
}

.chatMessageList
{
    list-style: none;
    margin: 0;
    padding: 0;
}
